/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/pay
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
resources/assets/.idea/workspace.xml
resources/assets/.idea/modules.xml
resources/assets/.idea/inspectionProfiles/Project_Default.xml
resources/assets/.idea/assets.iml
